.container{
    height: 60px;
}

.wrapper{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.left{
    flex: 1;

    .search-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0,0,0,.4);
        padding: .5rem;

        input{
            border: none;

            &:focus{
                outline: none;
            }
        }

        svg{
            width: 20px;
            height: 20px;
        }
    }
}

.center{
    flex: 1;
}

right{
    flex: 1;
}