@import 'mixin.scss';

.container{
    height: 80px;

    @include md{
			height: 200px;
		}

}

.wrapper{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    @include md{
		flex-direction: column;
	}
}

.right, .left, .center{
    flex: 1;
}

.left{
    .search-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0,0,0,.4);
        padding: .5rem;

        input{
            border: none;
						width: 100%;

            &:focus{
                outline: none;
            }
        }

        svg{
            width: 20px;
            height: 20px;
        }
    }
}

.center{
    text-align: center;

		a{
			text-decoration: none;
			color: inherit;
		}
}

.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a{
        text-decoration: none;
        color: #3e3e3e;
        margin: 0 20px;
    }

    .shopping-cart{
        cursor: pointer;
        position: relative;

        svg{
            width: 25px;
            height: 25px;
        }
    }

    .badge{
        display: inline-block;
        width: 20px;
        text-align: center;
        font-size: .65rem;
        line-height: 1.3rem;
        height: 20px;
        border-radius: 50%;
        background-color: cornflowerblue;
        color: white;
        transform: translate(-150%, -100%);
    }

		.diconnect{
			cursor: pointer;
		}
    
    @include md{
        justify-content: center;
    }
}

.search-container{
	.search-result{
		position: absolute;
		top: 55%;
		left: 0;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		z-index: 10;
		padding-left: 0;
		width: 100%;
		border: 1px solid gray;

		.search-product-container{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		img{
			width: 50px;
		}

		li{
			list-style: none;
			padding: 1rem;
			background-color: white;
			width: 100%;

			a{
				text-decoration: none;
				text-align: left;
				color: black;
			}
		}
	}	
}
