.container{
    height: 60px;
}

.wrapper{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.left{
    flex: 1;

    .search-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0,0,0,.4);
        padding: .5rem;

        input{
            border: none;

            &:focus{
                outline: none;
            }
        }

        svg{
            width: 20px;
            height: 20px;
        }
    }
}

.center{
    flex: 1;
    text-align: center;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a{
        text-decoration: none;
        color: #3e3e3e;
        margin: 0 20px;
    }

    .shopping-cart{
        cursor: pointer;
        position: relative;

        svg{
            width: 25px;
            height: 25px;
        }
    }

    .badge{
        display: inline-block;
        width: 20px;
        text-align: center;
        font-size: .65rem;
        line-height: 1.3rem;
        height: 20px;
        border-radius: 50%;
        background-color: cornflowerblue;
        color: white;
        transform: translate(-50%, -100%);
    }
}