@import 'mixin.scss';

.slider-container{
	position: relative;
	overflow: hidden;

	.slides{
		height: 100vh;
		width: 100vw;
		display: flex;
		transition: .4s transform ease-in-out;

		.slide{
			position: relative;
			flex-shrink: 0;
			display: flex;
			width: 100vw;
			height: 85vh;
            background-color: tomato;

			.content-container{
				flex: 1;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				background-size: cover;

				.info-container{
					height: 250px;
					width: 500px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					background-color: rgba(#000, .3);
					padding: 2rem;
					z-index: 3;
					margin-bottom: 5rem;
					margin-right: 5rem;

					h3, p, button{
						color: #fff;
						margin: 0;
					}

					h3{
						font-size: 2.5rem;
						font-weight: bolder;
					}

					p{
						font-size: 1.5rem;
                        font-weight: normal;
						letter-spacing: .1rem;
						text-align: left;
					}

					button{
						width: 50%;
						padding: 10px 30px;
						border: 1px solid white;
						background-color: transparent;
						text-transform: uppercase;
                        cursor: pointer;
					}
				}
			}

		}
	}

	.arrow{
		width: 50px;
		height: 50px;
		// background-color: #fff7f7;
		// border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		cursor: pointer;

		&.left{
			left: 1%;
		}

		&.right{
			right: 1%;
		}
	}
}
